.project-section {
    padding-top: 150px;
    padding-bottom: 30px;
  }
  
  .project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
    background-color: transparent !important;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
  }
  
  .project-heading {
    color: white;
    font-size: 2.3em;
    font-weight: 500;
    padding-top: 10px;
  }